@charset "UTF-8";

/*
 em HTML o id = # em CSS
 em HTML o class = . em CSS
*/
body {
    background-color: rgb(202, 255, 202);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(5, 128, 5);
}
/*não precisa colocar o elemento pode ser só o #sim*/
h1#sim {
    text-align: center;
    background-color: green;
    color: white;
}
h2 {
    color: rgb(43, 68, 43);
}
.basico {
 color: cyan;
}
.intermediario {
 color: yellow;
}
.avancado {
 color: red;
}
.destaque {
    background-color: rgba(197, 197, 28, 0.685);
}