@charset "UTF-8";

* {
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient( to right, #A9D9D0, #027373);
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(48, 65, 62, 0.541);
}
h1 {
    color: #eec9a4;
    text-align: center;
    text-shadow: 1px 1px 2px #867360;
}
h2 {
    color: #038C7F;
}
p {
    text-align: justify;
}
